[control_plane]
%{ for node in control_plane_nodes ~}
${node.name} ansible_host=${node.ip}
%{ endfor ~}

[workers]
%{ for node in worker_nodes ~}
${node.name} ansible_host=${node.ip}
%{ endfor ~}

[k8s_cluster:children]
control_plane
workers

[all:vars]
ansible_user=${ssh_user}
ansible_ssh_private_key_file=${ssh_private_key_path}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
